.App {
  text-align: center;
}

.App-logo {
  height: 12vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #8edddbbc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(19, 55, 56);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.titulo{
  font-size: calc(30px + 3vmin);
  color: rgb(27, 81, 82);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.resultado{

    border: 2px solid  rgb(27, 81, 82);
    background-color:rgba(12, 44, 44, 0.55);
    color:white;
    padding: 10px;
    display: inline-block; /* Para garantir que a caixa se ajuste ao texto */
    border-radius: 10px; /* Define o raio dos cantos */
}
